%html
  %head
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1.0"}

    %title Now with Bootstrap!
    %link{type: "text/css", rel: "stylesheet", href: "css/style.css"}
    <!--Bootstrap-->
    %link{rel: 'stylesheet', href: 'css/bootstrap.min.css', media: 'screen'}


  %body
    %script{src: "js/jquery-1.9.1.min.js"}
    %script{src: "js/bootstrap.min.js"}
    %script{src: "js/story_scaffolding.js"}

    %div#main.container
      %div#wrap
        = yield
