/*Footer shenanigans*/
html, body {
    height: 100%;
}

div#main {
    position: absolute;
    width: 50%;
    left: 25%;
}

/* Specific Elements */
p.quiet {
    color: gray;
    font-size: 8pt;
}

div#main h1 {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}
